body {
    background-color: darkgoldenrod;
}

.header{
    width: 100%;
    background-color: white;
}

.burger-pic {
    max-height: 300px;
}

.burger-header{
    margin: 30px;
}

.btn {
    background: slategray;
}

.two-columns{
    padding-bottom: 100px;
}

.burger-input {
    max-width: 500px;
}

ul {
    font-size: 25px;
}